<tr class="gene-item" data-id='{{id}}'>
    <td>{{id}}</td>
    <td>
         <button type="button" data-id="M" class="btn btn-mini mutation-type-setter">M</button>
    </td>
    <td>
         <button type="button" class="btn btn-mini item-remover">Remove</button>
    </td>
</tr>