<div class="input-prepend">
    <span class="add-on">Group label</span>
    <input class="input-small cutoff-value span3" type="text" placeholder="Type in a label..."/>
</div>
<ul class="nav nav-pills group-construct-cancer-selector"></ul>
<ul class="nav nav-pills">
    <li>
        <input class="group-genes-typeahead" type="text" placeholder="Add a gene..."/>
    </li>
</ul>

<div class="row">
    <table class="table span2 group-gene-types">
        <thead>
            <tr>
                <th class="span1">Gene</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<button class="btn group-save-button">Save group</button>
