<div id="myModal" class="modal hide fade ml2-group-constructor" tabindex="-1" role="dialog" aria-labelledby="group-builder-modal-label" aria-hidden="true">
</div>

<ul class="nav nav-pills preset-group-selector-minigraph"></ul>
<div class="input-prepend input-append btn-toolbar">
    <select class="multiselect user-defined-group-selector" multiple="multiple"></select>
    <button class="btn ml2-build-new-group">New</button>
    <a class="btn" href="#"><i class="icon-trash"></i></a>
</div>
<ul class="nav nav-pills">
    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Genes</button>
        <ul class="dropdown-menu gene-selector">

        </ul>
    </li>
    <li>
        <input class="genes-typeahead" type="text" placeholder="Add a gene..."/>
    </li>

    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Pathways</button>
        <ul class="dropdown-menu pathway-selector">

        </ul>
    </li>
    <li>
        <input class="pathways-typeahead" type="text" placeholder="Add a pathway..."/>
    </li>

    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Hallmarks</button>
        <ul class="dropdown-menu hallmark-selector">

        </ul>
    </li>
    <li>
        <input class="hallmarks-typeahead" type="text" placeholder="Add a hallmark..."/>
    </li>
</ul>
<div class="input-prepend">
    <span class="add-on">Cutoff</span>
    <input class="input-small cutoff-value span1" type="text" value="0.00001"></input>
</div>
<button class="btn run-analysis-button">Run</button>
<div class="minigraph-data" style="position: relative;"></div>
