<ul class="nav nav-pills cancer-selector-minigraph"></ul>
<div class="input-prepend">
    <span class="add-on">Cutoff</span>
    <input class="input-small cutoff-value span1" type="text" value="0.00001"></input>
</div>
<button class="run-analysis-button">Run</button>
<div class="minigraph-data" style="position: relative;"></div>
