<div id="myModal" class="modal hide fade ml2-modal" tabindex="-1" role="dialog" aria-labelledby="group-builder-modal-label" aria-hidden="true" style="top: 30%;">
</div>

<ul class="nav nav-pills preset-group-selector-minigraph"></ul>
<div class="input-prepend input-append btn-toolbar">
    <select class="multiselect user-defined-group-selector" multiple="multiple"></select>
    <button class="btn ml2-build-new-group">New</button>
    <a class="btn remove-user-defined-groups" href="#"><i class="icon-trash"></i></a>
</div>
<ul class="nav nav-pills">
    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Genes</button>
        <ul class="dropdown-menu gene-selector">

        </ul>
    </li>
    <li>
        <input class="genes-typeahead" type="text" placeholder="Add a gene..."/>
    </li>

    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Pathways</button>
        <ul class="dropdown-menu pathway-selector">

        </ul>
    </li>
    <li>
        <input class="pathways-typeahead" type="text" placeholder="Add a pathway..."/>
    </li>

    <li class="dropdown">
        <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Hallmarks</button>
        <ul class="dropdown-menu hallmark-selector">

        </ul>
    </li>
    <li>
        <input class="hallmarks-typeahead" type="text" placeholder="Add a hallmark..."/>
    </li>
</ul>
<div class="input-prepend">
    <span class="add-on">Gene Cutoff</span>
    <input class="input-small gene-cutoff-value span1" type="text" value="0.00001"></input>
    <span class="add-on">Pathway Cutoff</span>
    <input class="input-small pathway-cutoff-value span1" type="text" value="0.00001"></input>
    <span class="add-on">Hallmark Cutoff</span>
    <input class="input-small hallmark-cutoff-value span1" type="text" value="0.00001"></input>
</div>
<div class="input-prepend input-append btn-toolbar">
    <button class="btn run-analysis-button">Run</button>
    <button class="btn show-gene-heatmap-button">Gene Heatmap</button>
    <button class="btn show-pathway-heatmap-button">Pathway Heatmap</button>
    <button class="btn show-hallmark-heatmap-button">Hallmark Heatmap</button>
</div>
<div class="minigraph-data" style="position: relative;"></div>
